.companydashboard-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}
.companydashboard-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10em 0;
}

.company-left,
.company-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.company-socials,
.company-dashboard,
.company-about,
.company-innovation {
  padding: 1.5em;
  text-align: center;
  background-color: gray;
  border-radius: 20px;
}
.company-dashboard {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}
.company-socials {
  padding: 3em 1em;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}
.company-innovation {
  width: 45em;
  height: 32em;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(4px);
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}
.company-about {
  text-align: left;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(4px);
}
.company-about > * {
  text-align: left;
}
.company-about > p {
  color: white;
}
.company-about > img {
  border-radius: 50%;
}

.innovation-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 2em;
  margin-top: 2em;
}

.innovation-card-inner-container {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 3em;
  flex-wrap: wrap;
}

.card-content-left,
.card-content-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  gap: 1em;
}
.card-company-content {
  max-width: 10em;
}
.card-company-content > p {
  color: white;
}
.svg-icons {
  width: 2.5em;
  height: 2.5em;
}
@media screen and (max-width: 700px) {
  .company-dashboard > p {
    max-width: 18em;
  }
  .companydashboard-content {
    flex-direction: column;
  }
  .companydashboard-content {
    margin: 10em auto;
  }
  .company-innovation {
    width: 21em;
    height: 58em;
  }
  .company-about > p {
    max-width: 14em;
  }
  .innovation-card-inner-container {
    flex-direction: column;
  }
  .company-middle,
  .company-right {
    margin-top: 2em;
  }
}
