.resume-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1em;
  flex-wrap: wrap;
}
.resume-actions-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background: white;
  padding: 0.5em;
  border-radius: 20px;
}
.skill-items {
  background: white;
  padding: 0.5em;
  border-radius: 20px;
}
.heading {
  margin: 0.5em 0;
}
.resume-heading {
  margin-bottom: 0.5em;
}
.user-primary-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.user-name-college {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.user-about {
  text-align: left;
}
.user-about > p {
  max-width: 35em;
}
.user-bio > p {
  text-align: left;
  max-width: 30em;
}
.user-pic {
  margin-bottom: 0.7em;
}
